@page "/times/display/generic"
@using BlazorTimes.Client.Shared.Times
<h3>Display Times (Generic)</h3>

@if (Times == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <p>Render Fragments Inplace:</p>
            <GenericTableTemplate Data="@Times">
                <TheHeader><tr><th>Name</th><th>Date</th><th>Time</th></tr></TheHeader>
                <TheRow><tr><td>@context.Name</td><td>@context.Date.ToString("dd/MM/yy")</td><td>@context.Time.ToString("HH:mm")</td></tr></TheRow>
            </GenericTableTemplate>



        </div><div class="col-md-6">
            <p>Render Framents from Properties:</p>
            <GenericTableTemplate Data="@Times">
                <TheHeader>@Header</TheHeader>
                <TheRow>@Row(@context)</TheRow>
            </GenericTableTemplate>
        </div>
    </div>
}
@code {
    public List<RunTime> Times { get; set; } = new List<RunTime>();
    public RenderFragment Header { get; set; } =@<tr><th>Name</th><th>Date</th><th>Time</th></tr>;
public RenderFragment<RunTime> Row { get; set; } = (RunTime item) =>@<tr><td>@item.Name</td><td>@item.Date.ToString("dd/MM/yy")</td><td>@item.Time.ToString("HH:mm")</td></tr>;

protected override void OnInitialized()
{
Times.Add(new RunTime() { Id = 1, Name = "Rose", Date = DateTime.Now - TimeSpan.FromDays(20), Time = new DateTime(1, 1, 1, 0, 37, 20) });
Times.Add(new RunTime() { Id = 2, Name = "Rose", Date = DateTime.Now - TimeSpan.FromDays(2), Time = new DateTime(1, 1, 1, 0, 36, 30) });
Times.Add(new RunTime() { Id = 3, Name = "Rose", Date = DateTime.Now - TimeSpan.FromDays(1), Time = new DateTime(1, 1, 1, 0, 34, 23) });
Times.Add(new RunTime() { Id = 4, Name = "Rose", Date = DateTime.Now - TimeSpan.FromDays(0), Time = new DateTime(1, 1, 1, 0, 33, 12) });
Times.Add(new RunTime() { Id = 5, Name = "Lily", Date = DateTime.Now - TimeSpan.FromDays(20), Time = new DateTime(1, 1, 1, 0, 35, 43) });
Times.Add(new RunTime() { Id = 6, Name = "Lily", Date = DateTime.Now - TimeSpan.FromDays(2), Time = new DateTime(1, 1, 1, 0, 33, 54) });
Times.Add(new RunTime() { Id = 7, Name = "Lily", Date = DateTime.Now - TimeSpan.FromDays(1), Time = new DateTime(1, 1, 1, 0, 36, 17) });
Times.Add(new RunTime() { Id = 8, Name = "Lily", Date = DateTime.Now - TimeSpan.FromDays(0), Time = new DateTime(1, 1, 1, 0, 33, 23) });

base.OnInitialized();
}
}